In [23]:
import pandas as pd
import numpy as np
import sklearn

In [24]:
train = pd.read_csv('C:/Users/user/Desktop/Python/train.csv')
test = pd.read_csv('C:/Users/user/Desktop/Python/test.csv')

In [25]:
print(train.shape,test.shape)

(6665, 11) (2154, 10)

In [26]:
print(test.isna().sum())

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
Var_1              0
dtype: int64

In [27]:
print(train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6665 entries, 0 to 6664
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               6665 non-null   int64
 1   Gender           6665 non-null   object
 2   Ever_Married     6665 non-null   object
 3   Age              6665 non-null   int64
 4   Graduated        6665 non-null   object
 5   Profession       6665 non-null   object
 6   Work_Experience  6665 non-null   float64
 7   Spending_Score   6665 non-null   object
 8   Family_Size      6665 non-null   float64
 9   Var_1            6665 non-null   object
 10  Segmentation     6665 non-null   int64
dtypes: float64(2), int64(3), object(6)
memory usage: 572.9+ KB
None

In [28]:
print(train.describe(include = 'object'))

       Gender Ever_Married Graduated Profession Spending_Score  Var_1
count    6665         6665      6665       6665           6665   6665
unique      2            2         2          9              3      7
top      Male          Yes       Yes     Artist            Low  Cat_6
freq     3677         3944      4249       2192           3999   4476

In [29]:
print(test.describe(include = 'object'))

       Gender Ever_Married Graduated Profession Spending_Score  Var_1
count    2154         2154      2154       2154           2154   2154
unique      2            2         2          9              3      7
top      Male          Yes       Yes     Artist            Low  Cat_6
freq     1184         1272      1345        696           1326   1421

In [30]:
print(train.describe(exclude = 'object'))

                 ID          Age  Work_Experience  Family_Size  Segmentation
count    6665.00000  6665.000000      6665.000000  6665.000000   6665.000000
mean   463519.84096    43.536084         2.629107     2.841110      2.542836
std      2566.43174    16.524054         3.405365     1.524743      1.122723
min    458982.00000    18.000000         0.000000     1.000000      1.000000
25%    461349.00000    31.000000         0.000000     2.000000      2.000000
50%    463575.00000    41.000000         1.000000     2.000000      3.000000
75%    465741.00000    53.000000         4.000000     4.000000      4.000000
max    467974.00000    89.000000        14.000000     9.000000      4.000000

In [31]:
print(test.describe(exclude = 'object'))

                  ID          Age  Work_Experience  Family_Size
count    2154.000000  2154.000000      2154.000000  2154.000000
mean   463496.744661    43.461467         2.551532     2.837047
std      2591.465156    16.761895         3.344917     1.566872
min    458989.000000    18.000000         0.000000     1.000000
25%    461282.250000    30.000000         0.000000     2.000000
50%    463535.000000    41.000000         1.000000     2.000000
75%    465705.750000    52.000000         4.000000     4.000000
max    467968.000000    89.000000        14.000000     9.000000

In [32]:
target = train['Segmentation']
train.drop(['ID','Segmentation'],axis = 1 , inplace = True)
test.drop('ID', axis = 1, inplace = True)

In [33]:
train = pd.get_dummies(train)

In [34]:
target

0       4
1       2
2       2
3       3
4       3
       ..
6660    2
6661    4
6662    4
6663    2
6664    2
Name: Segmentation, Length: 6665, dtype: int64

In [38]:
from sklearn.model_selection import train_test_split

X_train , X_val , Y_train , Y_val = train_test_split(train,target , test_size = 0.2 , random_state = 123)
print(X_train.shape,X_val.shape,Y_train.shape,Y_val.shape)

(5332, 28) (1333, 28) (5332,) (1333,)

In [39]:
## 스케일링은 안해도되고

In [45]:
from sklearn.ensemble import RandomForestClassifier


model_RFC = RandomForestClassifier()
model_RFC.fit(X_train,Y_train)
pred = model_RFC.predict(X_val)

In [59]:
from sklearn.metrics import f1_score

score = f1_score(Y_val,pred , average =  'macro')
score

0.4809884817939732

In [60]:
# 하이퍼파라미터최적화

In [63]:
test= pd.get_dummies(test)

In [67]:
result = model_RFC.predict(test)

In [68]:
result

array([2, 3, 3, ..., 2, 3, 4], dtype=int64)

In [69]:
test2 = pd.read_csv('C:/Users/user/Desktop/Python/test.csv')
ID = test2['ID']

In [71]:

submission = pd.DataFrame({'ID' : ID, 'Segmentation' : result})

In [74]:
submission.to_csv('submission1.csv',index=False)

In [75]:
submission

          ID  Segmentation
0     458989             2
1     458994             3
2     459000             3
3     459003             3
4     459005             1
...      ...           ...
2149  467950             1
2150  467954             4
2151  467958             2
2152  467961             3
2153  467968             4

[2154 rows x 2 columns]